@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Main Format */

body {
  font-family: "DM Sans", sans-serif;
  background-color: hsl(27, 66%, 92%);
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  width: 21.4375em;
}

/* Component Format */

.rectangle {
  width: 100%;
  height: 6.0625em;
  border-radius: 10px;
  padding: 0 1.5em 0 1.25em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  background-color: hsl(10, 79%, 65%);
  align-items: center;
}

.square {
    width: 100%;
  height: 26.3125em;
  border-radius: 10px;
  padding: 1.5em 1.25em 1.5em 1.25em;
  background-color: hsl(33, 100%, 98%);
}
/* Sub Component Format */

.squareText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

hr {
  border-top: 2px solid hsl(27, 66%, 92%);
}

.chart {
  height: 11.0625em;
  margin: 3.25em 0 1.5em;
}

img {
  width: 3.75em;
  height: 2.5em;
}

/* Text Format */

.rectangle p {
  font-size: 0.625em;
  margin: 0 0 0.2666666666em 0;
}

.rectangle p,
.rectangle h2 {
  color: white;
}

h1 > p {
  font-size: 0.5em;
}

h3 > p {
  font-size: 1em;
}

.squareText h3 {
  font-size: 0.9375em;
}

h2 {
  font-size: 1.5em;
}

h1 {
  font-size: 1.875em;
}
.square h3 {
  margin-top: 1em;
  text-align: right;
}

h3,
p {
  font-weight: 400;
}

.rectangle h2 {
  color: #fffbf6;
  margin: 0;
}

.square h2,
.square h1,
.square h3 {
  color: hsl(25, 47%, 15%);
}

.square p {
  color: hsl(28, 10%, 53%);
}

.square h2 {
  margin-top: 0;
}

.square h1,
.square h3,
.square p {
  margin: 0;
}

.square h3 {
  margin-top: 1em;
}

@media screen and (min-width: 376px) {
main{
  width: 100%;
}  .rectangle {
    max-width: 33.75em;
    height: 7.8125em;
    padding: 0 2.4375em 0 2em;
    margin-bottom: 1.5em;
    border-radius: 20px;
  }

  .square {
    max-width: 33.75em;
    height: 31.9375em;
    border-radius: 20px;
    padding: 2em 2.5em 4.3125em 2.5em;
  }

  .squareText {
    padding-top: 2em;
  }

  .chart {
    margin: 4.125em 0 2em 0;
    height: 11.125em;
  }

  img {
    width: 4.5em;
    height: 3em;
  }

  h3,
  p {
    font-size: 1.125em;
  }

  h2 {
    font-size: 2em;
  }

  h1 {
    font-size: 3em;
  }

  h1 > p {
    font-size: 0.375em;
}

.squareText h3 {
    font-size: 1.125em;
}

  .rectangle p {
    margin: 0 0 0.5em 0;
        font-size: 0.5625em;
  }
  
  hr{
    margin:0;
  }
}
